* {
    padding: 0;
    margin: 0;
}

h1 {
    font-family: 'Roboto', sans-serif;
}

.container-flex-1 {
    display: flex;
    background-color: rgb(0, 110, 255);
    flex-flow: row wrap;
    justify-content: center;
    padding: 15px;
    gap: 15px;
}

.item-flex {
    background-color: rgb(87, 174, 255);
    color: white;
    font-size: 1.5em;
    height: 200px;
}

.item-1, .item-5, .item-8 {
    width: 150px;
}

.item-2, .item-4, .item-7 {
    width: 90px;
}

.item-3, .item-6, .item-9, .item-10 {
    width: 200px;
}