* {
    padding: 0;
    margin: 0;
}

body {
    margin-left: 10em;
    margin-right: 10em;
}

.main-content {
    display: grid;
    padding: 20px;
    font-size: 1.3em;
    line-height: 10px;
    text-align: center;
    font-family: 'Roboto';
    border: 3px rgba(255, 255, 255, 0.7) solid;
    color: white;
    grid-template-columns: repeat(3, 1fr);
}

.header,
.sidebar,
.navbar,
.footer {
    width: auto;
}

.header {
    background: rgb(174, 111, 233);
    height: 5em;
    border-radius: 10px;
    margin: 5px;
    grid-column-start: 1;
    grid-column-end: 2;
}

.sidebar {
    background: rgb(115, 212, 131);
    border-radius: 10px;
    margin: 5px;
    height: 20em;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 2;
}

.cont {
    display: flex;
    flex-direction: row;
    background: rgb(30, 0, 138);
    border-radius: 10px;
    margin: 5px;
    grid-row-start: 3;
}

.cont1 {
    height: 10em;
}

.footer {
    background: rgb(241, 99, 99);
    height: 5em;
    border-radius: 10px;
    margin: 5px;
    grid-column-start: 1;
    grid-column-end: 4;
}