* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(https://c.wallhere.com/photos/bc/d6/Nissan_GTR_R32_Nissan_Forza_Horizon_4_car_r32-1748001.jpg!d);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    background-color: #669999;
    overflow-y: hidden;
}


/* NavBar */

.menu-bar {
    display: none;
}

header {
    width: 100%;
}

header div a {
    font-family: 'Roboto', sans-serif;
}

header nav {
    background: #000000d2;
    width: 100%;
    /* margin: 20px auto; */
}

nav ul {
    list-style: none;
    text-align: right;
}

nav ul li {
    display: inline-block;
    position: relative;
}

nav ul li:hover {
    background: #525252c0;
}

nav ul li a {
    font-family: 'Roboto', sans-serif;
    color: white;
    display: block;
    text-decoration: none;
    padding: 20px;
}

nav ul li .children {
    display: none;
    position: absolute;
    background: #0000009a;
    text-align: left;
}

nav ul li:hover .children {
    display: block;
    width: 120%;
    text-align: left;
}

nav ul li .children li {
    overflow: hidden;
    display: block;
    border-bottom: 1px solid rgba(255, 255, 255, 255, 5);
}

nav ul li .children li a {
    font-family: 'Roboto';
    display: block;
}

nav ul li span {
    margin-right: 10px;
}

nav ul li .children li a span {
    float: right;
    position: relative;
    top: 3px;
    margin-right: 0;
    margin-left: 0.5em;
}

nav ul li .icon-cheveron-down {
    position: relative;
    top: 3px;
    margin-left: 10px;
}

@media screen and (max-width:800px) {
    body {
        padding-top: 80px;
    }
    .menu-bar {
        display: block;
        width: 100%;
        position: fixed;
        top: 0;
        background: #000000a8;
    }
    .menu-bar .bt-menu {
        display: block;
        padding: 20px;
        color: #fff;
        overflow: hidden;
        font-size: 20px;
        font-weight: bold;
        text-decoration: none;
        width: 50px;
        height: 25px;
    }
    .icon-list {
        position: absolute;
        right: 20px;
    }
    .menu-bar span {
        float: right;
        font-size: 30px;
    }
    header nav {
        width: 80%;
        height: calc(100% - 40px);
        position: fixed;
        right: 100%;
        margin: 0;
        top: 65px;
        overflow: auto;
    }
    header nav ul {
        text-align: left;
    }
    header nav ul li {
        display: block;
        border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    }
    header nav ul li a {
        font-family: 'Roboto';
        padding: 12px;
        display: block;
    }
    header nav ul li .children {
        position: relative;
        width: 100%;
    }
    header nav ul li .children li a {
        margin-left: 20px;
    }
    nav ul li .icon-cheveron-down {
        float: right;
    }
    nav ul li:hover .children {
        display: none;
    }
}


/* Login */

#main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.content1 {
    font-family: 'Roboto', sans-serif;
    width: 400px;
    height: 400px;
    background-color: rgba(0, 0, 0, 0.523);
    color: white;
    margin: 20px;
    border-radius: 1.5em;
}

.Icon span {
    background: #8e8e8ed6;
    padding: 15px;
    border-radius: 120px;
}

.Icon {
    margin-top: -20px;
    margin-bottom: 10px;
    color: rgba(255, 255, 255, 0.893);
    font-size: 5em;
    text-align: center;
}

h1 {
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

.content1 form .lb {
    display: block;
    margin-top: 5em;
    margin-left: 5%;
}

input[type="name"],
[type="password"] {
    outline: none;
    background: rgba(255, 255, 255, 0.8);
    padding: 0 10px 0 10px;
    display: block;
    margin: 0 auto;
    height: 40px;
    width: 85%;
    border: none;
    border-radius: 5px;
}

input[type="submit"] {
    cursor: pointer;
    font-weight: bold;
    display: block;
    margin: 0 auto;
    margin-top: 2em;
    width: 90%;
    height: 40px;
    border: none;
    border-radius: 10px;
    color: rgb(53, 53, 53);
    font-size: 1em;
    transition: all 0.125s;
}

input[type="submit"]:hover {
    background: rgb(45, 154, 255);
    color: white;
}

.recuperar {
    display: block;
    font-size: 0.9em;
    margin-left: 5%;
    margin-top: 1em;
    color: white;
    transition: all 0.125s;
}

.recuperar:hover {
    color: rgb(45, 154, 255);
}

@media only screen and (max-width:600px) {
    .content1 {
        width: 100%;
        height: 450px;
        margin: 0;
        border-radius: 0;
    }
    input[type="name"],
    [type="password"] {
        border-radius: 0;
        height: 50px;
        width: 85%;
    }
    input[type="submit"] {
        height: 50px;
    }
}