* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

body {
    background-image: url(https://s2.best-wallpaper.net/wallpaper/1920x1200/1709/Wet-street-water-dry-leaf-city_1920x1200.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: white;
    margin-left: 5em;
}

#main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 2em;
    background: rgb(111, 63, 255);
    background: -moz-linear-gradient(90deg, rgba(111, 63, 255, 0.8) 0%, rgba(255, 63, 63, 0.8) 20%, rgba(255, 214, 63, 0.8) 40%, rgba(255, 214, 63, 0.29735644257703087) 60%, rgba(255, 214, 63, 0) 90%);
    background: -webkit-linear-gradient(90deg, rgba(111, 63, 255, 0.8) 0%, rgba(255, 63, 63, 0.8) 20%, rgba(255, 214, 63, 0.8) 40%, rgba(255, 214, 63, 0.29735644257703087) 60%, rgba(255, 214, 63, 0) 90%);
    background: linear-gradient(90deg, rgba(111, 63, 255, 0.8) 0%, rgba(255, 63, 63, 0.8) 20%, rgba(255, 214, 63, 0.8) 40%, rgba(255, 214, 63, 0.29735644257703087) 60%, rgba(255, 214, 63, 0) 90%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#6f3fff", endColorstr="#ffd63f", GradientType=1);
    border-radius: 30px;
    width: 94%;
    height: 400px;
}

#main div {
    font-size: 1.5em;
    margin-left: 2em;
}

#main div:nth-child(1) {
    font-size: 3em;
    margin-left: 1em;
    color: white;
}

#main div:nth-child(2) {
    width: 650px;
}

.contenido {
    display: flex;
    justify-content: center;
}

.contenido div {
    display: flex;
    width: 700px;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 4em;
}

.contenido img {
    width: 200px;
}