* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

body {
    background: url(../images/paisaje.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: white;
    margin-left: 10em;
    margin-right: 10em;
}

.navs {
    color: white;
    font-family: 'Roboto', sans-serif;
}

.navs:hover {
    color: rgb(136, 136, 136);
}

h1 {
    text-align: center;
    color: white;
    font-family: 'Roboto', sans-serif;
    padding: 5em;
    text-shadow: -4px 3px 2px #00000085;
}

.conts {
    width: 300px;
    margin: 1em;
    background: rgba(0, 0, 0, 0.666);
    color: white;
    border-radius: 5px;
}

.conts div {
    text-align: justify;
}

.cont-m {
    display: flex;
    flex-wrap: wrap;
    align-self: center;
    justify-content: center;
}

.cabecera img {
    border-radius: 5px;
    width: 300px;
    height: 200px;
}

.titulo p {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 1.5em;
}

.titulo p span {
    z-index: -5;
    position: absolute;
    padding: 2em 0 0 3em;
    border-bottom: 3px goldenrod solid;
}

.char {
    width: 100%;
}


/* Bloques html*/

.c1,
.c2,
.c3 {
    margin: 10px 10px 10px 10px;
}

.c1 {
    float: left;
}

.c3 {
    float: right;
    margin-right: 50px;
}

.t1 {
    font-size: 24pt;
    text-align: justify;
    margin-top: 2em;
}


/*Estilos de la tabla en bloques.html*/

.tbloque {
    width: 1000px;
}

.td1 {
    border: rgb(57, 134, 49) 8px;
    border-radius: 5px 5px 5px 5px;
    background-color: rgb(57, 134, 49);
    width: 600px;
    height: 50px;
}

.td1 p {
    text-align: center;
    color: white;
}

.td2,
.td3,
.td4,
.td5,
.td6 {
    border: white 8px;
    background-color: rgb(122, 122, 122);
    width: auto;
    height: 50px;
    font-family: Arial, Helvetica, sans-serif;
}

.td2,
.td3,
.td4,
.td5,
.td6,
td p {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}